@use "./abstracts" as v;

.section {
  &-promo {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    &_vouchers {
      @include v.flexBox-alignStart(row);
      gap: v.$font-n20;
      justify-content: space-between;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    &_voucher {
      @include v.flexBox-alignStart(column);
      width: 100%;
      gap: 3.5rem;
    }

    .flexBox-column_justSpaceBetweenAlignStart {
      height: 90%;
    }
  }
}
