// font size with root 62.5% or x10

// font small
$font-s8: 0.8rem;
$font-s10: 1rem;

// font medium
$font-n12: 1.2rem;
$font-n14: 1.4rem;
$font-n16: 1.6rem;
$font-n18: 1.8rem;
$font-n20: 2rem;

// font large
$font-l24: 2.4rem;
$font-l32: 3.2rem;
$font-l36: 3.6rem;
$font-l38: 3.8rem;
$font-l40: 4rem;
$font-l48: 4.8rem;
